<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bonetti, Mauricio">
    <title>Voting App</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
    }
	
	.greetings {
		color: white;
		position: relative;
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	.pointer {
		cursor: pointer;
	}
    </style>
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
           <div class="collapse navbar-collapse" >
				        <!-- Greetings -->
                <ul class="nav navbar-nav" style="float:left">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li>
                        {{#authenticated}}<div class="greetings">Hello, {{user.username}}!</div>{{/authenticated}}
                    </li>
                </ul>
        				<!-- Logout / GitHub Button -->
        				<ul class="nav navbar-nav pointer" style="float:right">
                    <li>
                        {{^authenticated}}<a href="/login">Login</a>{{/authenticated}}
                        {{#authenticated}}<a href="/logout">Logout</a>{{/authenticated}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Voting Online</h1>
                <table class="table table-sm">
                	<tbody>
                		<tr>
                		  {{#poll}}
                		  <td>{{question}}</td>
                		  {{/poll}}
                		</tr>
                		{{#message}}
                		<tr>
                		  <td><span style="color:red">{{message}}</span></td>
                		</tr>
                		{{/message}}
						<form action="/answer" method="post">
						<input type="hidden" name="pollId" value="{{#poll}}{{id}}{{/poll}}">
						<input type="hidden" name="answers" value="{{#poll}}{{answers}}{{/poll}}">
						<tr>
						  <td>Answer: 
							<input type="text" name="answer" list="answers" />
							<datalist id="answers">
							  {{#poll}}
							  {{#answers}}
							  	<option>{{.}}</option>
							  {{/answers}}
							  {{/poll}}
							</datalist>
						  </td>
						</tr>
						<tr>
						  <td>
							<button class="btn btn-default">Submit</button>
						</form>
							<button class="btn btn-danger" style="float:right">Delete</button>
						  </td>
						</tr>
						<tr>
						  <td><div id="piechart"></div></td>
						</tr>
						<tr>
						  <td>
							<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{shareUrl}}" target="_blank">
								<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" width="30px"/>
							</a>
						  </td>
						</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>		
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			//var data = google.visualization.arrayToDataTable([["Answer", "Total"],["sasa",1],["adaba",1],["Messi",1],["Eu",1],["asasa",1],["Ronaldo",4],["Neymar",2]]);
			var data = google.visualization.arrayToDataTable({{{answerStats}}});
			var options = {};
			var chart = new google.visualization.PieChart(document.getElementById("piechart"));
			chart.draw(data, options);
		}
	</script>	
</body>
</html>
